.contenedor{
	background-color: #f0f2f1;
	padding: 10px;
	border-radius: 5px;
}
.py-4{
	padding-top: 0 rem !important;
}
.pb-4{
	padding-top: 0 rem !important;
}
table {
	font-size: 1em;
}

.izquierda{
	width: 50%;
}
.principal {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}
/* Buscador */
.sombra {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,.5);
  border-radius: 10px;
}

.buscador {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  margin: 2rem 0;
}


.ui-draggable, .ui-droppable {
	background-position: top;
}

/* #02b875 */
.btn-primary{
	border-radius: 1.078em;
}

.btn-secondary{
	border-radius: 1.078em;
}

.btn{
	border-radius: 1.078em;
}

.btn-success{
	background-color:  rgb(59, 164, 98);
  border-color:  rgb(59, 164, 98);
}
.btn-info{
	float: right;
}
.btn-warning{
	background-color: #78cc25;
	border-color: #78cc25;
	color: white;
}
.btn-warning:hover{
	background-color: #6eba23;
	border-color: #6eba23;
	color: white;
}
.ingresar{
	background-color: #87b847;
	border-color: #87b847;
}
.ingresar:hover{
	background-color: rgb(92, 142, 72);
	border-color: rgb(92, 142, 72);
}

.btn-recepcion{
	background-color:  rgb(59, 164, 98);
	border-color:  rgb(59, 164, 98);
}

.addRow{
	color: #87b847;
	font-size: 20px;
	text-align: center;
}

.fa-trash-alt{
	color: red;
	font-size: 1.4em;
}

.fa-trash-alt:hover{
	color: rgb(142, 7, 11);
	font-size: 1.4em;
}

.fa-edit{
  color: orange;
  font-size: 1.4em;
}

.fa-edit:hover{
  color: rgb(177, 125, 8);
  font-size: 1.4em;
}

.fa-toolbox{
	color: rgb(14, 57, 97);
	font-size: 1.4em;
}

.fa-toolbox:hover{
	color: rgb(4, 16, 27);
	font-size: 1.4em;
}

.remove{
	color: red;
	font-size: 20px;
	text-align: center;
}

.remove:hover{
	color: rgb(142, 7, 11);
	font-size: 20px;
	text-align: center;
}

.colorth{
  background-color: black;
}
.dataTables_filter{
  display: none;
}
.ocultar{
  display: none;
}

.rojo{
  background-color: #e74151;
}
.colorth{
  color: white;
}


.addRow{
	color: #87b847;
	font-size: 20px;
	text-align: center;
}

.addRow:hover{
	color: rgb(59, 164, 98);
	font-size: 20px;
	text-align: center;
}


.titulo{
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
  }

/* .sidebar{
	position: absolute;
	width: 250px;
	height: 100%;
	background-color: rgb(36, 37, 80);
	color: white;
}

.sidebar h2{
	text-align: center;
	margin: 0;
	padding: 10px;
	background: rgb(8, 25, 60);
}

.sidebar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar li{
	outline: 1px solid rgb(6, 102, 124);
	transition: border 0.5s;
	cursor: pointer;
}

.sidebar li:hover{
	background-color: rgb(5, 15, 83) ;
	border-left: 3px solid #eee;
}

.sidebar a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 8px;
} */

.detalle{
	font-size: 1.2em;
	color: #87b847;
}
.campoObligatorio{
	font-style: italic;
	font-size: 12px;
	color: red;
}
.aclaracion{
	font-style: italic;
	font-size: 13px;
}

.descripcion{
	width: 30%!important;
}


.titulo{
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
  }
